body
{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.192),rgba(0, 0, 0, 0.192)),url("/cloud");
    background-size: cover;
    background-position: center;
    color: #fff !important;
}
.services
{
    margin: 90px auto;
    text-align: center;
}
h1
{
    font-family: sans-serif;
    letter-spacing: 1px;
}
h1::after
{
    content: '';
    background: white;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
}
.icon
{
    font-size: 50px;
    margin: 40px auto ;
    padding: 20px auto ;
    height: 80px auto;
    width: 80px ;
    border: 2px solid white;
    border-radius: 50%;
}
.col-md-3:hover
{
    box-shadow: 5px 7px 9px -3px rgb(255,255,255,0.5);
    cursor: pointer;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family:poppins;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}