body{
    margin:0;
    padding: 0;
    background: url("/cloud") no-repeat fixed center;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.descriptionBox{
    font-size: 30px;
    border: 5px solid transparent;
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px;
}
.container{
    padding: 50px;
    width: 700px;
    height: 125px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
}

a:hover{
    color: #ffc107;
};