<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='/node_modules/fullcalendar/main.css' rel='stylesheet' />
    <script src='/node_modules/fullcalendar/main.js'></script>
    
    
    <script>
  document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    nextDayThreshold: '09:00:00',
    displayEventTime: false,
    initialView: 'dayGridMonth',
    headerToolbar: {  
      left: 'prev,next today addEventButton',
      center: 'title',
      right: 'readTodaysEvents dayGridMonth,timeGridWeek,timeGridDay'
   },
    customButtons: {
      addEventButton: {
        text: 'Add Event',
        click: function() {
          var title = prompt('Enter Event Name');
          var dateStr = prompt('Enter a date in YYYY-MM-DD format');
          var date = new Date(dateStr + 'T00:00:00'); // will be in local time
          var dateEnd = prompt('Enter a date in YYYY-MM-DD format');
          var date_end = new Date(dateEnd + 'T09:00:00'); // will be in local time

          if (!isNaN(date.valueOf()) || !isNaN(date_end.valueOf())) {
            //If event starts and ends on same day
            if(date_end.getDate() === date.getDate()){
              calendar.addEvent({
              title: title,
              start: date,
              end: date_end,
              allDay: true
              });
              //If event starts and ends on different days
              } else{
                calendar.addEvent({
                title: title,
                start: date,
                end: date_end
            });
            }
            alert('Event Created!');
          } else {
            alert('Invalid date. Try again!');
          }
        }
      },
      readTodaysEvents: {
        text: "Read Todays Events",
        click: function() {
          var msg = new SpeechSynthesisUtterance();
          var date = calendar.getDate();
          let events = calendar.getEvents();
          let todaysEvents = [];
          //Get todays events
          for (let i = 0; i < events.length; i++){
            if(date.getFullYear() === events[i].start.getFullYear() && date.getMonth() === events[i].start.getMonth() && date.getDate() === events[i].start.getDate()){
              todaysEvents.push(events[i]);
            } else if (date > events[i].start && date < events[i].end){
              todaysEvents.push(events[i]);
            }
          }

          if (todaysEvents.length == 0){
            msg.text = "There are no events for today";
          } else{
            msg.text = "Todays events are: " 
            for (let i = 0; i < todaysEvents.length; i++){
              msg.text += todaysEvents[i].title + ", ";
            }
          }
          window.speechSynthesis.speak(msg);

        }
      },
    },
    eventClick: function(info) {
    alert('Event: ' + info.event.title);
  },
  eventRender: function (info) {
  info.tooltip({ title: info.event.title });     
},

  });

  calendar.render();
});

    </script>
  </head>
  <div id='navbar'>
    
  </div>
  <div id="container">
    <div id='container'>
      <body>
        <div id='calendar'></div>
      </body>
    </div>
  </div>
</html>