<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href='/calendar/css' rel='stylesheet' />
    <link rel="shortcut icon" type="image/jpg" href="/favicon"/>
    <script src='/calendar/js'></script>
    
    
    <script>
  document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    nextDayThreshold: '09:00:00',
    displayEventTime: false,
    initialView: 'dayGridMonth',
    headerToolbar: {  
      left: 'prev,next today addEventButton',
      center: 'title',
      right: 'readTodaysEvents dayGridMonth,timeGridWeek,timeGridDay'
   },
    customButtons: {
      addEventButton: {
        text: 'Add Event',
        click: function() {
          var title = prompt('Enter Event Name');
          var dateStr = prompt('Enter a start date in YYYY-MM-DD format');
          var s_time = prompt('Enter a start time in HH:MM (24-hour time) format');
          var date = new Date(dateStr + 'T' + s_time); // will be in local time
          var dateEnd = prompt('Enter an end date in YYYY-MM-DD format');
          var e_time = prompt('Enter an end time in HH:MM (24-hour time) format');
          var date_end = new Date(dateEnd + 'T'+ e_time); // will be in local time

          if (!isNaN(date.valueOf()) || !isNaN(date_end.valueOf())) {
                calendar.addEvent({
                title: title,
                start: date,
                end: date_end
            });
            
            alert('Event Created!');
          } else {
            alert('Invalid date. Try again!');
          }
        }
      },
      readTodaysEvents: {
        text: "Read Todays Events",
        click: function() {
          var msg = new SpeechSynthesisUtterance();
          var date = calendar.getDate();
          let events = calendar.getEvents();
          let todaysEvents = [];
          //Get todays events
          for (let i = 0; i < events.length; i++){
            if(date.getFullYear() === events[i].start.getFullYear() && date.getMonth() === events[i].start.getMonth() && date.getDate() === events[i].start.getDate()){
              todaysEvents.push(events[i]);
            } else if (date > events[i].start && date < events[i].end){
              todaysEvents.push(events[i]);
            }
          }

          if (todaysEvents.length == 0){
            msg.text = "There are no events for today";
          } else{
            msg.text = "Todays events are: " 
            for (let i = 0; i < todaysEvents.length; i++){
              msg.text += todaysEvents[i].title + ", ";
            }
          }
          window.speechSynthesis.speak(msg);

        }
      },
    },
    eventClick: function(info) {
    alert('Event: ' + info.event.title);
  },
  eventRender: function (info) {
  info.tooltip({ title: info.event.title });     
},

  });

  calendar.render();
});

    </script>
  </head>
  <div id='navbar'>
    
  </div>
  <div id="container">
    <div id='container'>
      <body>
        <div class = "wrapper">
          <ul class="nav-area">
              <h1 id="header"></h1>
              <li><a href="/home">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/calendar">Calendar</a></li>
              <li><a href="/profile">Profile</a></li>
          </ul>
      </div>
        <div id='calendar'></div>
      </body>
    </div>
  </div>
</html>