<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Ultimate Planner | Welcome</title>
        <link rel="stylesheet" type="text/css" href="/css"/>
        <link rel="shortcut icon" type="image/jpg" href="/favicon"/>
    </head>
    <body>
        <h3 style="text-align:right; margin-right: 10px"><a href="/login">Login</a> / <a href="/signup">Sign Up</a></h3>
        <div>
        <div class="container">
            <div class="descriptionBox">
                Input assignments, tests, quizzes, labs, and exams into a multi-view calendar.
            </div>
            <div class="descriptionBox">
                Upload your class syllabus
            </div>
            <div class="descriptionBox">
                View your upcoming events and due dates on a multi-view calendar
            </div>
            <div class="descriptionBox">
                Let text-to-speech read you your schedule for the day
            </div>
            <div class="descriptionBox">
                Integrates machine learning capabilities that will allow your planner to understand you busy lifestyle.
            </div>
        </div>
        <div class="container" id="signupToday">
            <h1>Sign Up for free today!</h1>
        </div>
    </div>
    </body>
</html>