<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Ultimate Student Planner | Profile</title>
        <link rel="stylesheet" href = "/profile/css">
        <link rel="shortcut icon" type="image/jpg" href="/favicon"/>
    </head>
    <body>
        <header>

            <div class = "wrapper">
                <ul class="nav-area">
                    <h1 id="header"></h1>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
            <div>
                <h1>Profile</h1>
                <div class="sidebar">
                    <h3>First Name: <h3 id="fName-Block"></h3></h3>
                    <h3>Last Name: <h3 id="lName-Block"></h3></h3>
                    <h3>Email: <h3 id="Email-Block"></h3></h3>
                    <hr/>
                    <a href="logout">Log Out</a>
                </div>
            </div>
        </header>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/loadJS"></script>
    </body>
    
</html>